$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
cl 2-4                                                                         \
   basis =cl def2-QZVP                                                         \
   cbas  =cl def2-QZVP                                                         \
   jbas  =cl def2-QZVP
h  5                                                                           \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-29                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpss
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   16 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=5
   nbf(CAO)=365
   nbf(AO)=297
$last step     rirpa
$last SCF energy change = -1419.4633
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00009417684245    y     0.00016715614086    z     0.41438860658516    a.u.
   | dipole | =    1.0532788513  debye
$last RIRPA energy change=  1.1771097
$orbital_max_rnorm 0.20339429058057E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1419.463292885    -2484.012572871     891.1156084748    -88.36288559552    -2.247651678188     264.0442087853
$end
