$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o def2-QZVP                                                          \
   cbas  =o def2-QZVP                                                          \
   jbas  =o def2-QZVP
h  2,4-6                                                                       \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
c  3                                                                           \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-9                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    2 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=6
   nbf(CAO)=284
   nbf(AO)=234
$last step     rirpa
$orbital_max_rnorm 0.70234640421066E-06
$last SCF energy change = -115.64057
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-115.6405683291    -236.9598166942     96.37659729824    -14.78218474657    -.5806542747579     40.30549008823
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.09560418894307    y    -0.00016247888865    z     0.62151068821071    a.u.
   | dipole | =    1.5983153797  debye
$last RIRPA energy change= -.18793015
$end
