$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
h  2-5                                                                         \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-5                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    1 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=5
   nbf(CAO)=406
   nbf(AO)=311
$last step     rirpa
$orbital_max_rnorm 0.76602406701730E-06
$last SCF energy change = -40.467827
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-40.46782727135    -79.96064973044     32.84043105725    -6.537434468814    -.3000315296567     13.48985740031
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00062081884752    y     0.00039373048795    z    -0.00028809591453    a.u.
   | dipole | =    0.0020069312  debye
$last RIRPA energy change= -.12965524
$end
