$tmole
$rirpa
    npoints                    100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z                                                            \
   charge=  0.00000000
h  2-5                                                                         \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
i  6-7                                                                         \
   basis =i cc-pV5Z-PP                                                         \
   ecp   =i defpp-ecp                                                          \
   cbas  =i cc-pV5Z-PP                                                         \
   jbas  =i universal-ecp-28
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv     0.10000000E-06
$cbas    file=auxbasis
$rundimensions
   natoms=7
   nbf(CAO)=684
   nbf(AO)=517
$closed shells
 a       1-25                                   ( 2 )
$freeze
 implicit core=    8 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.35839555695447E-05
$last SCF energy change = -591.42504
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-591.4250378937    -1276.291119941     604.5773324213    -41.82180381365    -2.277536294234     124.3880897334
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00084998303964    y    -0.00085051853137    z    -0.00041781609693    a.u.
   | dipole | =    0.0032355621  debye
$last RIRPA energy change=  1.0940907
$end
