$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
f  1,9,12                                                                      \
   basis =f cc-pVTZ                                                            \
   cbas  =f cc-pVTZ                                                            \
   jbas  =f cc-pVTZ
h  2,10-11                                                                     \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  3-8                                                                         \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-33                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    9 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=12
   nbf(CAO)=360
   nbf(AO)=312
$last step     rirpa
$last SCF energy change = -530.15881
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00048860201637    y    -0.00479737339286    z     0.00289858325544    a.u.
   | dipole | =    0.0143007490  debye
$last RIRPA energy change= 0.35603357
$orbital_max_rnorm 0.60688633459534E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-530.1588127288    -1569.220440474     674.2696727130    -56.65017113901    -2.264211813825     423.7063379850
$end
