$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ                                                            \
   charge=  0.00000000
f  2                                                                           \
   basis =f cc-pVQZ                                                            \
   cbas  =f cc-pVQZ                                                            \
   jbas  =f cc-pVQZ                                                            \
   charge=  0.00000000
h  3-5                                                                         \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ                                                            \
   charge=  0.00000000
c  6                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
f  7                                                                           \
   basis =f cc-pVQZ                                                            \
   cbas  =f cc-pVQZ                                                            \
   jbas  =f cc-pVQZ
h  8-10                                                                        \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=10
   nbf(CAO)=490
   nbf(AO)=400
$closed shells
 a       1-9                                    ( 2 )
$freeze
 implicit core=    2 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.88236257483761E-05
$last SCF energy change = -139.65299
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-139.6529854733    -266.4906318808     106.2912595994    -16.25509595730    -.5889830780802     37.39046584341
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.06273617583633    y    -0.04941847496903    z     0.65851384499051    a.u.
   | dipole | =    1.6860520526  debye
$last RIRPA energy change= -.18862803
$end
