$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
c  2-7                                                                         \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
i  13                                                                          \
   basis =i cc-pV5Z-PP                                                         \
   cbas  =i cc-pV5Z-PP                                                         \
   jbas  =i universal-ecp-28                                                   \
   charge=  0.00000000
c  14                                                                          \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z                                                            \
   charge=  0.00000000
h  15-17                                                                       \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=1651
   nbf(AO)=1235
$closed shells
 a       1-21                                   ( 2 )
$freeze
 implicit core=    6 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.49809221192946E-05
$last SCF energy change = -232.03882
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-232.0388157645    -714.6046576687     313.4548949843    -33.12045512825    -1.371177113214     203.6025791614
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00128993970281    y    -0.00577438668883    z     0.00043892675865    a.u.
   | dipole | =    0.0150802216  debye
$last RIRPA energy change= -.37373112
$end
