$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
s  1                                                                           \
   basis =s cc-pVQZ                                                            \
   cbas  =s cc-pVQZ                                                            \
   jbas  =s cc-pVQZ
h  2,4-6                                                                       \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
c  3                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-13                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    6 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=6
   nbf(CAO)=284
   nbf(AO)=234
$last step     rirpa
$orbital_max_rnorm 0.11498876271432E-05
$last SCF energy change = -438.50609
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-438.5060944273    -715.5847411216     252.9628987929    -31.41104478131    -.9263116650157     56.45310434775
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.28453087698196    y    -0.11513653661513    z    -0.52310685046730    a.u.
   | dipole | =    1.5416076414  debye
$last RIRPA energy change= 0.78238114E-01
$end
