$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  2-7                                                                         \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
br 13                                                                          \
   basis =br cc-pVTZ                                                           \
   cbas  =br cc-pVTZ                                                           \
   jbas  =br universal                                                         \
   charge=  0.00000000
c  14                                                                          \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ                                                            \
   charge=  0.00000000
h  15-17                                                                       \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ                                                            \
   charge=  0.00000000
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpss
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=429
   nbf(AO)=379
$closed shells
 a       1-21                                   ( 2 )
$freeze
 implicit core=    6 virt=    0
$last step     rirpa
$last SCF energy change = -1.6388888
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00050143205284    y     0.00231282818044    z     0.00197324636173    a.u.
   | dipole | =    0.0078319013  debye
$last RIRPA energy change=  1.6594607
$orbital_max_rnorm 0.13112058005928E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-232.3701866513    -714.8446182704     313.6524382183    -33.51028767705    -1.376936341250     203.7092174190
$end
