$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z                                                            \
   charge=  0.00000000
cl 2                                                                           \
   basis =cl cc-pV(5+d)Z                                                       \
   cbas  =cl cc-pV(5+d)Z                                                       \
   jbas  =cl universal                                                         \
   charge=  0.00000000
h  3-5                                                                         \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
c  6                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
cl 7                                                                           \
   basis =cl cc-pV(5+d)Z                                                       \
   cbas  =cl cc-pV(5+d)Z                                                       \
   jbas  =cl universal
h  8-10                                                                        \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=10
   nbf(CAO)=944
   nbf(AO)=712
$freeze
 implicit core=    6 virt=    0
$last SCF energy change = -.77468899
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.07507459522371    y    -0.04916409036260    z     0.72699152182275    a.u.
   | dipole | =    1.8618671740  debye
$last RIRPA energy change= 0.77330880
$closed shells
 a       1-13                                   ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.52935904748737E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-499.9087918318    -790.5957641164     273.7786100096    -33.58848639803    -.9434501717785     51.44029884473
$end
