$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1,7                                                                         \
   basis =o cc-pVTZ                                                            \
   cbas  =o cc-pVTZ                                                            \
   jbas  =o cc-pVTZ
h  2,8-9                                                                       \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  3                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
f  4-6                                                                         \
   basis =f cc-pVTZ                                                            \
   cbas  =f cc-pVTZ                                                            \
   jbas  =f cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-26                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    6 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=9
   nbf(CAO)=255
   nbf(AO)=222
$last step     rirpa
$orbital_max_rnorm 0.16312666850090E-05
$last SCF energy change = -489.63052
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-489.6305240941    -1234.926979614     520.3364659101    -52.86636651579    -1.795284590812     279.6216407160
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     1.65607082170392    y     0.06611856997371    z    -0.00237304652463    a.u.
   | dipole | =    4.2127018137  debye
$last RIRPA energy change= -.29077933
$end
