$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,4-6                                                                       \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
o  2                                                                           \
   basis =o cc-pVTZ                                                            \
   cbas  =o cc-pVTZ                                                            \
   jbas  =o cc-pVTZ
c  3                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
cl 7                                                                           \
   basis =cl cc-pV(T+d)Z                                                       \
   cbas  =cl cc-pV(T+d)Z                                                       \
   jbas  =cl universal                                                         \
   charge=  0.00000000
c  8                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ                                                            \
   charge=  0.00000000
h  9-11                                                                        \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ                                                            \
   charge=  0.00000000
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=11
   nbf(CAO)=255
   nbf(AO)=227
$freeze
 implicit core=    2 virt=    0
$last SCF energy change = -.55665313
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.61479640209100    y    -0.00004481470716    z     0.09625129016744    a.u.
   | dipole | =    1.5817032845  debye
$last RIRPA energy change= 0.55664959
$closed shells
 a       1-9                                    ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.12014212031430E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-115.6265772953    -237.1267920230     96.48482333976    -14.78188363189    -.5821372081586     40.37941222798
$end
