$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pV6Z                                                            \
   cbas  =c cc-pV6Z                                                            \
   jbas  =c universal
cl 2-3                                                                         \
   basis =cl cc-pV(6+d)Z                                                       \
   cbas  =cl cc-pV(6+d)Z                                                       \
   jbas  =cl universal
h  4-7                                                                         \
   basis =h cc-pV6Z                                                            \
   cbas  =h cc-pV6Z                                                            \
   jbas  =h universal
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-22                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   11 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=7
   nbf(CAO)=1154
   nbf(AO)=802
$last step     rirpa
$orbital_max_rnorm 0.86088727642567E-05
$last SCF energy change = -960.52108
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-960.5210775737    -1590.349282507     558.8954327037    -61.30256988536    -1.627839457334     133.8631815718
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.07015673798725    y     0.07570240387588    z     0.03044408824259    a.u.
   | dipole | =    0.2735164788  debye
$last RIRPA energy change= 0.18259049
$end
