$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z                                                            \
   charge=  0.00000000
cl 2-4                                                                         \
   basis =cl cc-pV5Z                                                           \
   cbas  =cl cc-pV5Z                                                           \
   jbas  =cl universal                                                         \
   charge=  0.00000000
h  5                                                                           \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
c  6                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
h  7-10                                                                        \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=10
   nbf(CAO)=992
   nbf(AO)=742
$closed shells
 a       1-5                                    ( 2 )
$freeze
 implicit core=    1 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.46417927612228E-05
$last SCF energy change = -40.467825
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-40.46782461328    -79.96134671546     32.84077170602    -6.537466746780    -.3000341747365     13.49025131769
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00000398295772    y     0.00000395570693    z     0.00088069252180    a.u.
   | dipole | =    0.0022385595  debye
$last RIRPA energy change= -.12969544
$end
