$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  2-7                                                                         \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
br 13                                                                          \
   basis =br cc-pVTZ-PP                                                        \
   ecp   =br defpp-ecp                                                         \
   cbas  =br cc-pVTZ-PP                                                        \
   jbas  =br universal                                                         \
   charge=  0.00000000
c  14                                                                          \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ                                                            \
   charge=  0.00000000
h  15-17                                                                       \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ                                                            \
   charge=  0.00000000
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=425
   nbf(AO)=375
   dim(fock,dens)=91404
   nshell=137
   dim(trafo[SAO<-->AO/CAO])=525
   rhfshells=1
$freeze
 implicit core=    6 virt=    0
$last SCF energy change = -1.2834278
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00051084608468    y     0.00217674992824    z     0.00199330189758    a.u.
   | dipole | =    0.0076136199  debye
$last RIRPA energy change=  1.2834780
$operating system unix
$ecp    file=basis
$newecp
$closed shells
 a       1-21                                   ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.28016934683447E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-232.0147256088    -714.8291904442     313.5888074162    -33.11005888239    -1.373501117383     203.7092174190
$end
