$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ                                                            \
   charge=  0.00000000
c  2-7                                                                         \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ                                                            \
   charge=  0.00000000
i  13                                                                          \
   basis =i cc-pVTZ-PP                                                         \
   ecp   =i defpp-ecp                                                          \
   cbas  =i cc-pVTZ-PP                                                         \
   jbas  =i universal-ecp-28
c  14                                                                          \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
f  15-17                                                                       \
   basis =f cc-pVTZ                                                            \
   cbas  =f cc-pVTZ                                                            \
   jbas  =f cc-pVTZ
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpss
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=485
   nbf(AO)=423
$closed shells
 a       1-29                                   ( 2 )
$freeze
 implicit core=    8 virt=    0
$last step     rirpa
$last SCF energy change = -2.4848323
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.01246866979411    y     0.25227997664570    z    -0.01535451804355    a.u.
   | dipole | =    0.6432044176  debye
$last RIRPA energy change=  2.4980707
$orbital_max_rnorm 0.11979303220856E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-633.3860898116    -1551.361413253     691.2816851843    -56.48693264739    -2.307413263720     285.4879841681
$end
