$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,4-6,9-11                                                                  \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
o  2                                                                           \
   basis =o cc-pVTZ                                                            \
   cbas  =o cc-pVTZ                                                            \
   jbas  =o cc-pVTZ
c  3,8                                                                         \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
f  7                                                                           \
   basis =f cc-pVTZ                                                            \
   cbas  =f cc-pVTZ                                                            \
   jbas  =f cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-18                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    4 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=11
   nbf(CAO)=245
   nbf(AO)=218
$last step     rirpa
$orbital_max_rnorm 0.29477120328601E-05
$last SCF energy change = -255.27079
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-255.2707901501    -600.6813928318     251.3191334022    -31.03768250081    -1.174324353109     126.3034761335
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.05706782758438    y    -0.00002184065353    z    -0.41773542005048    a.u.
   | dipole | =    1.0716477741  debye
$last RIRPA energy change= -.26641352
$end
