$tmole
$rirpa
    npoints                    100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-6                                                                         \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z                                                            \
   charge=  0.00000000
i  7                                                                           \
   basis =i cc-pV5Z-PP                                                         \
   cbas  =i cc-pV5Z-PP                                                         \
   jbas  =i universal-ecp-28                                                   \
   charge=  0.00000000
h  8-12                                                                        \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
n  13                                                                          \
   basis =n cc-pV5Z                                                            \
   cbas  =n cc-pV5Z                                                            \
   jbas  =n cc-pV5Z
c  14-16                                                                       \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
h  17-25                                                                       \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv     0.10000000E-06
$cbas    file=auxbasis
$rundimensions
   natoms=25
   nbf(CAO)=2379
   nbf(AO)=1783
$closed shells
 a       1-17                                   ( 2 )
$freeze
 implicit core=    4 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.41210553160878E-05
$last SCF energy change = -174.30817
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-174.3081693235    -509.2418278797     222.1244628951    -25.24046628320    -1.093607333837     139.1432692781
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.16705221611977    y     0.00015305614419    z     0.09553982614278    a.u.
   | dipole | =    0.4891451215  debye
$last RIRPA energy change= -.38455874
$end
