$rirpa
  npoints 100
$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1,7                                                                         \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
br 2                                                                           \
   basis =br cc-pV(Q+2f)Z-PP                                                   \
   ecp   =br defpp-ecp                                                         \
   cbas  =br cc-pVQZ-PP                                                        \
   jbas  =br universal
h  3-5,8-9                                                                     \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
o  6                                                                           \
   basis =o cc-pVQZ                                                            \
   cbas  =o cc-pVQZ                                                            \
   jbas  =o cc-pVQZ
$basis    file=basis
$rundimensions
   dim(fock,dens)=119391
   natoms=9
   nshell=115
   nbf(CAO)=485
   dim(trafo[SAO<-->AO/CAO])=673
   rhfshells=1
   nbf(AO)=393
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$scfdamp   start=0.700  step=0.050  min=0.050
$ricore     5000
$rij
$jbas    file=auxbasis
$disp4
$denconv 1.0d-7
$cbas    file=auxbasis
$ecp    file=basis
$newecp
$last SCF energy change = -2.1402737
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.15024043188711    y    -0.56037724369837    z    -0.87135095592376    a.u.
   | dipole | =    2.6607896251  debye
$last RIRPA energy change=  1.5102020
$closed shells
 a       1-25                                   ( 2 )
$freeze
 implicit core=   12 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.62184724550411E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-571.1559642004    -1287.734577687     593.6456778300    -50.12782161000    -2.042431137103     175.1076132423    -.4424839059894E-02
$end
