$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1,7                                                                         \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
i  2                                                                           \
   basis =i cc-pVQZ-PP                                                         \
   ecp   =i defpp-ecp                                                          \
   cbas  =i cc-pVQZ-PP                                                         \
   jbas  =i universal-ecp-28
f  3-5                                                                         \
   basis =f cc-pVQZ                                                            \
   cbas  =f cc-pVQZ                                                            \
   jbas  =f cc-pVQZ
o  6                                                                           \
   basis =o cc-pVQZ                                                            \
   cbas  =o cc-pVQZ                                                            \
   jbas  =o cc-pVQZ
h  8-9                                                                         \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$closed shells
 a       1-37                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   10 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=9
   nbf(CAO)=573
   nbf(AO)=457
$last step     rirpa
$orbital_max_rnorm 0.45172468060414E-05
$last SCF energy change = -747.60415
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-747.6041513003    -1989.669342124     888.1920615096    -70.29959498678    -2.813216881391     426.9859411821
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     1.25461472809616    y    -0.30460403345180    z    -0.35060723755503    a.u.
   | dipole | =    3.4004295368  debye
$last RIRPA energy change= 0.18483775
$end
