$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
f  1,9,12                                                                      \
   basis =f cc-pV5Z                                                            \
   cbas  =f cc-pV5Z                                                            \
   jbas  =f cc-pV5Z
h  2,10-11                                                                     \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
c  3-8                                                                         \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
h  13-14,21-24                                                                 \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
c  15-20                                                                       \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z                                                            \
   charge=  0.00000000
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=24
   nbf(CAO)=2520
   nbf(AO)=1860
$closed shells
 a       1-33                                   ( 2 )
$freeze
 implicit core=    9 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.56126767812631E-05
$last SCF energy change = -529.64788
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-529.6478761949    -1568.998425559     680.1631151050    -62.27127966818    -2.247624057814     423.7063379850
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00014127657360    y    -0.00310431316313    z     0.00298896940584    a.u.
   | dipole | =    0.0109593018  debye
$last RIRPA energy change= -.61022802
$end
