$disp4
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-6                                                                         \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
i  7                                                                           \
   basis =i def2-QZVP                                                          \
   ecp   =i def2-ecp                                                           \
   cbas  =i def2-QZVP                                                          \
   jbas  =i def2-QZVP
h  8-12                                                                        \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
$basis    file=basis
$ecp    file=basis
$scfmo   file=mos
$closed shells
 a       1-33                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   10 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=12
   nbf(CAO)=711
   nbf(AO)=574
$last step     ridft
$last SCF energy change = -2.3495785
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.53024333162631    y     0.00035791101685    z    -0.30173295763541    a.u.
   | dipole | =    1.5506872599  debye
$last RIRPA energy change= -.81540548E-01
$orbital_max_rnorm 0.43719758148889E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-529.1519470149    -1530.069051031     704.3566282324    -53.83513042569    -2.493770497120     352.9036062908    -.1422958420517E-01
$end
