$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
cl 1                                                                           \
   basis =cl cc-pVQZ                                                           \
   cbas  =cl cc-pVQZ                                                           \
   jbas  =cl cc-pVQZ                                                           \
   charge=  0.00000000
h  2                                                                           \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ                                                            \
   charge=  0.00000000
o  3                                                                           \
   basis =o cc-pVQZ                                                            \
   cbas  =o cc-pVQZ                                                            \
   jbas  =o cc-pVQZ
h  4,6-8                                                                       \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
c  5                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=8
   nbf(CAO)=389
   nbf(AO)=319
$closed shells
 a       1-9                                    ( 2 )
$freeze
 implicit core=    2 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.13040069461375E-05
$last SCF energy change = -115.63782
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-115.6378202066    -236.9809844680     96.40651368457    -14.78743693728    -.5811595065429     40.30524702060
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.06362581591955    y    -0.00000979779888    z     0.62321548175797    a.u.
   | dipole | =    1.5923016451  debye
$last RIRPA energy change= -.19165571
$end
