$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1,6                                                                         \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
cl 2-4                                                                         \
   basis =cl cc-pVTZ                                                           \
   cbas  =cl cc-pVTZ                                                           \
   jbas  =cl cc-pVTZ
h  5,7-10                                                                      \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-34                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   17 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=10
   nbf(CAO)=262
   nbf(AO)=232
$last step     rirpa
$orbital_max_rnorm 0.71296280200670E-06
$last SCF energy change = -1459.2232
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1459.223186421    -2719.377175893     1001.405531547    -94.15234531881    -2.539926124732     355.4407293685
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00009398604329    y     0.00020605857679    z     0.45839853252389    a.u.
   | dipole | =    1.1651417999  debye
$last RIRPA energy change= 0.50732827
$end
