$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  2-7,14                                                                      \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
i  13                                                                          \
   basis =i cc-pVTZ-PP                                                         \
   ecp   =i defpp-ecp                                                          \
   cbas  =i cc-pVTZ-PP                                                         \
   jbas  =i universal-ecp-28
f  15-17                                                                       \
   basis =f cc-pVTZ                                                            \
   cbas  =f cc-pVTZ                                                            \
   jbas  =f cc-pVTZ
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$closed shells
 a       1-50                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpss
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   14 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=485
   nbf(AO)=423
$last step     rirpa
$last SCF energy change = -865.75693
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.01004310704583    y     0.62237426462758    z     0.08443325542294    a.u.
   | dipole | =    1.5966245604  debye
$last RIRPA energy change= 0.97941506
$orbital_max_rnorm 0.10325445985630E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-865.7569338090    -2788.920765559     1266.432121430    -89.99757505531    -3.688713063537     750.4179984385
$end
