$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
cl 1                                                                           \
   basis =cl cc-pV(5+d)Z                                                       \
   cbas  =cl cc-pV(5+d)Z                                                       \
   jbas  =cl universal
h  2                                                                           \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-9                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    5 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=2
   nbf(CAO)=206
   nbf(AO)=155
$last step     rirpa
$orbital_max_rnorm 0.15246794735330E-06
$last SCF energy change = -460.64251
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-460.6425114602    -649.8135453980     210.6022822737    -27.71029611306    -.6858996529226     6.964947430082
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.11213788599240    y    -0.00000047781320    z     0.42665406116087    a.u.
   | dipole | =    1.1212863058  debye
$last RIRPA energy change= 0.14195592
$end
