$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
f  2                                                                           \
   basis =f cc-pVTZ                                                            \
   cbas  =f cc-pVTZ                                                            \
   jbas  =f cc-pVTZ
h  3-5                                                                         \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  6                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ                                                            \
   charge=  0.00000000
h  7-10                                                                        \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ                                                            \
   charge=  0.00000000
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=10
   nbf(CAO)=210
   nbf(AO)=188
$closed shells
 a       1-9                                    ( 2 )
$freeze
 implicit core=    2 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.87305203750209E-05
$last SCF energy change = -139.63945
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-139.6394476454    -266.5875479819     106.3526030784    -16.24963419720    -.5898052835349     37.43493673882
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.55004556416896    y    -0.31658207209882    z     0.12325374993279    a.u.
   | dipole | =    1.6432585259  debye
$last RIRPA energy change= -.12836676
$end
