$disp3 bj
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-5,11,14-16                                                                \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
h  6-10,17-22                                                                  \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
cl 12                                                                          \
   basis =cl def2-QZVP                                                         \
   cbas  =cl def2-QZVP                                                         \
   jbas  =cl def2-QZVP
o  13                                                                          \
   basis =o def2-QZVP                                                          \
   cbas  =o def2-QZVP                                                          \
   jbas  =o def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-45                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   15 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=22
   nbf(CAO)=1191
   nbf(AO)=970
$last step     ridft
$last SCF energy change = -2.8414634
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.68666082785091    y     0.00145295299066    z     0.59829365159194    a.u.
   | dipole | =    2.3149060247  debye
$last RIRPA energy change= -.42134895
$orbital_max_rnorm 0.43525965585247E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-884.5061308073    -2419.508772543     1014.671979228    -85.97151871406    -3.057431648639     609.3802125613    -.2059969093526E-01
$end
