$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
c  2-7                                                                         \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
br 13                                                                          \
   basis =br cc-pV(Q+2f)Z-PP                                                   \
   ecp   =br defpp-ecp                                                         \
   cbas  =br cc-pVQZ-PP                                                        \
   jbas  =br universal                                                         \
   charge=  0.00000000
c  14                                                                          \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ                                                            \
   charge=  0.00000000
h  15-17                                                                       \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ                                                            \
   charge=  0.00000000
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   m5
$scfconv 9
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=905
   nbf(AO)=733
$freeze
 implicit core=    6 virt=    0
$last SCF energy change = -1.2892564
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00072709452109    y     0.00332516758108    z     0.00296708802082    a.u.
   | dipole | =    0.0114771394  debye
$last RIRPA energy change=  1.2892486
$ecp    file=basis
$newecp
$closed shells
 a       1-21                                   ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.18808037176138E-06
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-232.0319492658    -714.8438074748     313.6059749629    -33.13094508670    -1.372389086145     203.7092174190
$end
