$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
n  1                                                                           \
   basis =n def2-QZVP                                                          \
   cbas  =n def2-QZVP                                                          \
   jbas  =n def2-QZVP
c  2-4                                                                         \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
h  5-13                                                                        \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-17                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpss
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    4 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=13
   nbf(CAO)=603
   nbf(AO)=498
$last step     rirpa
$last SCF energy change = -174.57963
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.17668840928536    y     0.00016109221474    z     0.10105069700938    a.u.
   | dipole | =    0.5173605501  debye
$last RIRPA energy change= -.55655036E-01
$orbital_max_rnorm 0.18614123131244E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-174.5796286229    -509.2712128173     222.2019033964    -25.55955879087    -1.094029689211     139.1432692781
$end
