$rirpa
  npoints 100
$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
br 1                                                                           \
   basis =br cc-pV(Q+2f)Z-PP                                                   \
   ecp   =br defpp-ecp                                                         \
   cbas  =br cc-pVQZ-PP                                                        \
   jbas  =br universal
c  2                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
h  3-5                                                                         \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
$basis    file=basis
$rundimensions
   dim(fock,dens)=38814
   natoms=5
   nshell=65
   nbf(CAO)=275
   dim(trafo[SAO<-->AO/CAO])=381
   rhfshells=1
   nbf(AO)=223
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$scfdamp   start=0.700  step=0.050  min=0.050
$ricore     5000
$rij
$jbas    file=auxbasis
$disp4
$denconv 1.0d-7
$freeze
 implicit core=   10 virt=    0
$cbas    file=auxbasis
$ecp    file=basis
$newecp
$closed shells
 a       1-17                                   ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.72519634611763E-05
$last SCF energy change = -456.72706
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-456.7270642625    -915.5937223447     429.8382275051    -36.07044164201    -1.525318742944     66.62621253732    -.2021575189805E-02
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.04591894404501    y    -0.68765858846425    z     0.03428466729973    a.u.
   | dipole | =    1.7539257370  debye
$last RIRPA energy change= -.53515468
$end
