$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
f  1-2                                                                         \
   basis =f cc-pVTZ                                                            \
   cbas  =f cc-pVTZ                                                            \
   jbas  =f cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-9                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    2 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=2
   nbf(CAO)=70
   nbf(AO)=60
$last step     rirpa
$last SCF energy change = -199.58211
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00000000011432    y     0.00000000036481    z     0.00000000006444    a.u.
   | dipole | =    0.0000000010  debye
$last RIRPA energy change= 0.10107558
$orbital_max_rnorm 0.23549301045601E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-199.5821129316    -339.2840919593     127.8397318767    -18.16090794822    -.6207677990719     30.64392289826
$end
