$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o cc-pVTZ                                                            \
   cbas  =o cc-pVTZ                                                            \
   jbas  =o cc-pVTZ
h  2,4-6                                                                       \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  3                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-9                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    2 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=6
   nbf(CAO)=130
   nbf(AO)=116
$last step     rirpa
$orbital_max_rnorm 0.50702253006117E-05
$last SCF energy change = -115.62537
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-115.6253707865    -237.0411122606     96.46544304333    -14.78475068445    -.5823302815346     40.31737939672
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.02238128679139    y     0.00021073446789    z     0.60572183204579    a.u.
   | dipole | =    1.5406536982  debye
$last RIRPA energy change= -.13827347
$end
