$rirpa
  npoints 100
$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,4-6,9-11                                                                  \
   basis =h cc-pV6Z                                                            \
   cbas  =h cc-pV6Z                                                            \
   jbas  =h universal
o  2                                                                           \
   basis =o cc-pV6Z                                                            \
   cbas  =o cc-pV6Z                                                            \
   jbas  =o universal
c  3,8                                                                         \
   basis =c cc-pV6Z                                                            \
   cbas  =c cc-pV6Z                                                            \
   jbas  =c universal
cl 7                                                                           \
   basis =cl cc-pV(6+d)Z                                                       \
   cbas  =cl cc-pV(6+d)Z                                                       \
   jbas  =cl universal
$basis    file=basis
$rundimensions
   dim(fock,dens)=1510750
   natoms=11
   nshell=262
   nbf(CAO)=1732
   dim(trafo[SAO<-->AO/CAO])=2933
   rhfshells=1
   nbf(AO)=1206
$scfmo   file=mos
$closed shells
 a       1-22                                   ( 2 )
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor 5000
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$scfdamp   start=0.700  step=0.050  min=0.050
$ricore     5000
$rij
$jbas    file=auxbasis
$disp4
$denconv 1.0d-7
$freeze
 implicit core=    8 virt=    0
$cbas    file=auxbasis
$last step     rirpa
$orbital_max_rnorm 0.12050115866040E-04
$last SCF energy change = -615.56191
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-615.5619138656    -1159.719321816     436.2089668278    -48.38037410809    -1.527147072535     157.8609805883    -.5018285467775E-02
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.16820016535678    y    -0.00002246620829    z    -0.03239101633196    a.u.
   | dipole | =    0.4353806012  debye
$last RIRPA energy change= -.17121930
$end
