$disp3 bj
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
i  2-3                                                                         \
   basis =i def2-QZVP                                                          \
   ecp   =i def2-ecp                                                           \
   cbas  =i def2-QZVP                                                          \
   jbas  =i def2-QZVP
h  4-7                                                                         \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
$basis    file=basis
$ecp    file=basis
$scfmo   file=mos
$closed shells
 a       1-30                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    9 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=7
   nbf(CAO)=420
   nbf(AO)=341
$last step     ridft
$last SCF energy change = -2.3603583
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.11310616653969    y     0.11334123003479    z     0.05565864128835    a.u.
   | dipole | =    0.4308808174  debye
$last RIRPA energy change= 0.33715266
$orbital_max_rnorm 0.15747736352957E-06
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-635.8883825714    -1479.476078617     699.0486054944    -48.67119880318    -2.583705628380     195.7985239210    -.4528938654253E-02
$end
