$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
f  1-2,9-12                                                                    \
   basis =f cc-pVQZ                                                            \
   cbas  =f cc-pVQZ                                                            \
   jbas  =f cc-pVQZ
c  3-8,15-20                                                                   \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
h  13-14,21-24                                                                 \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-66                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      5000
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   18 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=24
   nbf(CAO)=1470
   nbf(AO)=1170
$last step     rirpa
$orbital_max_rnorm 0.25513643968869E-05
$last SCF energy change = -1059.2197
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1059.219678244    -4252.172947512     1917.236084348    -124.5538197061    -4.503023592353     1404.774028218
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.06646435899119    y     0.06310751379776    z     0.18369644109822    a.u.
   | dipole | =    0.5218019717  debye
$last RIRPA energy change= -1.0541527
$end
