$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
h  2-5                                                                         \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
f  6-7                                                                         \
   basis =f cc-pVQZ                                                            \
   cbas  =f cc-pVQZ                                                            \
   jbas  =f cc-pVQZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-14                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpss
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$denconv     0.10000000E-06
$freeze
 implicit core=    3 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=7
   nbf(CAO)=350
   nbf(AO)=285
$last step     rirpa
$orbital_max_rnorm 0.54321470241130E-05
$last SCF energy change = -240.17024
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-240.1702397620    -469.3752132779     187.7222770124    -26.80964278075    -.9204289868806     69.21276827124
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00946624865220    y     0.02995091587158    z     0.00539950966710    a.u.
   | dipole | =    0.0810110579  debye
$last RIRPA energy change= -.81669259E-02
$end
