$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
f  1,9,12                                                                      \
   basis =f def2-QZVP                                                          \
   cbas  =f def2-QZVP                                                          \
   jbas  =f def2-QZVP
h  2,10-11,13-14,21-24                                                         \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
c  3-8,15-20                                                                   \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-54                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpss
   gridsize   5
$scfconv   7
$ricore      5000
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   15 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=24
   nbf(CAO)=1395
   nbf(AO)=1125
$last step     rirpa
$last SCF energy change = -762.65336
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00198821365802    y    -0.06043794544541    z     0.09679409334035    a.u.
   | dipole | =    0.2900932521  debye
$last RIRPA energy change= 0.17167856
$orbital_max_rnorm 0.14211903173092E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-762.6533627247    -2964.888767172     1334.639096354    -96.47604230437    -3.641773784807     967.7141241823
$end
