$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
cl 1                                                                           \
   basis =cl cc-pV(5+d)Z                                                       \
   cbas  =cl cc-pV(5+d)Z                                                       \
   jbas  =cl universal                                                         \
   charge=  0.00000000
h  2                                                                           \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
o  3                                                                           \
   basis =o cc-pV5Z                                                            \
   cbas  =o cc-pV5Z                                                            \
   jbas  =o cc-pV5Z
h  4,6-8                                                                       \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
c  5                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=8
   nbf(CAO)=738
   nbf(AO)=557
$freeze
 implicit core=    2 virt=    0
$last SCF energy change = -.56246971
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.05488057346330    y    -0.00000998497220    z     0.62492895847041    a.u.
   | dipole | =    1.5945363006  debye
$last RIRPA energy change= 0.56246967
$closed shells
 a       1-9                                    ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.12653126140062E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-115.6417481996    -236.9584742101     96.37616646066    -14.78403585805    -.5806516126834     40.30524702060
$end
