$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
c  2-7                                                                         \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
br 13                                                                          \
   basis =br def2-QZVP                                                         \
   cbas  =br def2-QZVP                                                         \
   jbas  =br def2-QZVP                                                         \
   charge=  0.00000000
c  14                                                                          \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP                                                          \
   charge=  0.00000000
h  15-17                                                                       \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP                                                          \
   charge=  0.00000000
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=910
   nbf(AO)=744
$freeze
 implicit core=    6 virt=    0
$last SCF energy change = -1.6039851
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00055779522729    y    -0.00577109690660    z     0.00078735554180    a.u.
   | dipole | =    0.0148723972  debye
$last RIRPA energy change=  1.6478061
$closed shells
 a       1-21                                   ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.56164139586567E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-232.3634705202    -714.7894832650     310.2548610893    -30.16151396548    -1.376551798096     203.7092174190
$end
