$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1,7                                                                         \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
br 2                                                                           \
   basis =br cc-pVQZ                                                           \
   cbas  =br cc-pVQZ                                                           \
   jbas  =br universal
h  3-5,8-9                                                                     \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
o  6                                                                           \
   basis =o cc-pVQZ                                                            \
   cbas  =o cc-pVQZ                                                            \
   jbas  =o cc-pVQZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-30                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   17 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=9
   nbf(CAO)=469
   nbf(AO)=383
$last step     rirpa
$orbital_max_rnorm 0.13217388288086E-05
$last SCF energy change = -2728.1129
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2728.112919458    -4235.486629389     1396.271189058    -109.4422154976    -2.511900578226     223.0566369483
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.17910960488638    y    -0.56671267929285    z    -0.88138288938057    a.u.
   | dipole | =    2.7020287961  debye
$last RIRPA energy change= 0.81439264
$end
