$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o def2-QZVP                                                          \
   cbas  =o def2-QZVP                                                          \
   jbas  =o def2-QZVP
h  2                                                                           \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
c  3                                                                           \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
f  4-6                                                                         \
   basis =f def2-QZVP                                                          \
   cbas  =f def2-QZVP                                                          \
   jbas  =f def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-21                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    5 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=6
   nbf(CAO)=395
   nbf(AO)=315
$last step     rirpa
$orbital_max_rnorm 0.10906759298175E-04
$last SCF energy change = -413.28807
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-413.2880653065    -982.1773610034     408.4129809063    -43.92959374956    -1.461051415632     205.8669599559
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.65503849628323    y     0.42362899011017    z    -0.00150808703819    a.u.
   | dipole | =    1.9828040655  debye
$last RIRPA energy change= -.37173005
$end
