$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1,7                                                                         \
   basis =o def2-QZVP                                                          \
   cbas  =o def2-QZVP                                                          \
   jbas  =o def2-QZVP
h  2,8-9                                                                       \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
c  3                                                                           \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
f  4-6                                                                         \
   basis =f def2-QZVP                                                          \
   cbas  =f def2-QZVP                                                          \
   jbas  =f def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-26                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    6 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=9
   nbf(CAO)=537
   nbf(AO)=432
$last step     rirpa
$orbital_max_rnorm 0.45574837498002E-05
$last SCF energy change = -489.69015
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-489.6901533713    -1234.670378654     520.0168749940    -52.86716418811    -1.791126238665     279.6216407160
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     1.63791642906111    y     0.07302438149355    z    -0.00237353879665    a.u.
   | dipole | =    4.1673396889  debye
$last RIRPA energy change= -.48180079
$end
