$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ                                                            \
   charge=  0.00000000
cl 2-4                                                                         \
   basis =cl cc-pVTZ                                                           \
   cbas  =cl cc-pVTZ                                                           \
   jbas  =cl cc-pVTZ                                                           \
   charge=  0.00000000
h  5                                                                           \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ                                                            \
   charge=  0.00000000
c  6                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
h  7-10                                                                        \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=10
   nbf(CAO)=262
   nbf(AO)=232
$closed shells
 a       1-5                                    ( 2 )
$freeze
 implicit core=    1 virt=    0
$last step     rirpa
$last SCF energy change = -.32914951
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00000860155858    y     0.00000198237472    z    -0.00146518661166    a.u.
   | dipole | =    0.0037242286  debye
$last RIRPA energy change= 0.33898430
$orbital_max_rnorm 0.14693730477665E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-40.53760962739    -79.94851608879     32.18557234675    -5.964192707354    -.3007244956847     13.49025131769
$end
