$rirpa
  npoint 100
$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-6,14-16                                                                   \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
i  7                                                                           \
   basis =i cc-pV(Q+2f)Z-PP                                                    \
   ecp   =i defpp-ecp                                                          \
   cbas  =i cc-pVQZ-PP                                                         \
   jbas  =i universal-ecp-28
h  8-12,17-25                                                                  \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
n  13                                                                          \
   basis =n cc-pVQZ                                                            \
   cbas  =n cc-pVQZ                                                            \
   jbas  =n cc-pVQZ
$basis    file=basis
$ecp    file=basis
$newecp
$rundimensions
   dim(fock,dens)=814870
   natoms=25
   nshell=309
   nbf(CAO)=1293
   dim(trafo[SAO<-->AO/CAO])=1756
   rhfshells=1
   nbf(AO)=1051
$scfmo   file=mos
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore      500
$rij
$jbas    file=auxbasis
$denconv     0.10000000E-06
$cbas    file=auxbasis
$dft
   functional pbe
   gridsize   5
$scfconv   7
$closed shells
 a       1-50                                   ( 2 )
$freeze
 implicit core=   14 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.88839022563006E-05
$last SCF energy change = -701.44753
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-701.4475264576    -2499.103039584     1156.743723965    -78.94271393679    -3.594735432686     723.4492385308
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.42894277163907    y     0.00036745885760    z     0.24529474654844    a.u.
   | dipole | =    1.2559551966  debye
$last RIRPA energy change= -.43907518
$end
