$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z                                                            \
   charge=  0.00000000
f  2-4                                                                         \
   basis =f cc-pV5Z                                                            \
   cbas  =f cc-pV5Z                                                            \
   jbas  =f cc-pV5Z                                                            \
   charge=  0.00000000
h  5                                                                           \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
c  6                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
h  7-10                                                                        \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=10
   nbf(CAO)=980
   nbf(AO)=730
$closed shells
 a       1-5                                    ( 2 )
$freeze
 implicit core=    1 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.46226768122322E-05
$last SCF energy change = -40.467819
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-40.46781866327    -79.96536482221     32.84290460199    -6.537707009109    -.3000440536140     13.49239261968
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.00000037391837    y    -0.00000181560420    z     0.00061752795201    a.u.
   | dipole | =    0.0015696184  debye
$last RIRPA energy change= -.12969449
$end
