$disp4
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1-2,9-12                                                                    \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
c  3-8                                                                         \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-21                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    6 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=12
   nbf(CAO)=642
   nbf(AO)=522
$last step     ridft
$last SCF energy change = -1.3040723
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00015016985701    y     0.00019877457338    z    -0.00115735567647    a.u.
   | dipole | =    0.0030091054  debye
$last RIRPA energy change= -.32981522
$orbital_max_rnorm 0.13913982739946E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-232.0469294434    -714.7144450565     313.5011743928    -33.11693772130    -1.371104166257     203.6651732981    -.1079019017440E-01
$end
