$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
br 2                                                                           \
   basis =br cc-pVQZ                                                           \
   cbas  =br cc-pVQZ                                                           \
   jbas  =br universal
h  3-5                                                                         \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-22                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   15 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=5
   nbf(CAO)=259
   nbf(AO)=213
$last step     rirpa
$orbital_max_rnorm 0.97435769820262E-06
$last SCF energy change = -2613.6866
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2613.686620606    -3813.076665650     1207.294812439    -95.38540172465    -1.994837366450     89.47547169643
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.63635220624874    y    -0.17657555678788    z    -0.27852107028583    a.u.
   | dipole | =    1.8217511183  debye
$last RIRPA energy change= 0.96540852
$end
