$rirpa
  npoints 100
$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-5,11,14-16                                                                \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
h  6-10,17-22                                                                  \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
br 12                                                                          \
   basis =br cc-pV(Q+2f)Z-PP                                                   \
   ecp   =br defpp-ecp                                                         \
   cbas  =br cc-pVQZ-PP                                                        \
   jbas  =br universal
o  13                                                                          \
   basis =o cc-pVQZ                                                            \
   cbas  =o cc-pVQZ                                                            \
   jbas  =o cc-pVQZ
$basis    file=basis
$rundimensions
   dim(fock,dens)=706509
   natoms=22
   nshell=280
   nbf(CAO)=1185
   dim(trafo[SAO<-->AO/CAO])=1650
   rhfshells=1
   nbf(AO)=958
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$scfdamp   start=0.700  step=0.050  min=0.050
$ricore     5000
$rij
$jbas    file=auxbasis
$disp4
$denconv 1.0d-7
$cbas    file=auxbasis
$ecp    file=basis
$newecp
$orbital_max_rnorm 0.62348903653552E-05
$last SCF energy change = -841.31474
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-841.3147432337    -2675.826632308     1236.527524453    -88.48217522892    -3.641967118653     690.1297031199    -.2119615017252E-01
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.82618499779471    y     0.02549293980618    z     0.48404307369100    a.u.
   | dipole | =    2.4347000659  debye
$last RIRPA energy change=  1.1302472
$closed shells
 a       1-49                                   ( 2 )
$freeze
 implicit core=   19 virt=    0
$last step     define
$end
