$tmole
$rirpa
    npoints                    100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-5,11                                                                      \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
h  6-10                                                                        \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
i  12                                                                          \
   basis =i cc-pV5Z-PP                                                         \
   ecp   =i defpp-ecp                                                          \
   cbas  =i cc-pV5Z-PP                                                         \
   jbas  =i universal-ecp-28
o  13                                                                          \
   basis =o cc-pV5Z                                                            \
   cbas  =o cc-pV5Z                                                            \
   jbas  =o cc-pV5Z                                                            \
   charge=  0.00000000
c  14-16                                                                       \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z                                                            \
   charge=  0.00000000
h  17-22                                                                       \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z                                                            \
   charge=  0.00000000
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv     0.10000000E-06
$cbas    file=auxbasis
$rundimensions
   natoms=22
   nbf(CAO)=2169
   nbf(AO)=1618
$closed shells
 a       1-33                                   ( 2 )
$freeze
 implicit core=   10 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.48007896547335E-05
$last SCF energy change = -527.14459
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-527.1445929890    -1527.164202683     702.9122277939    -53.69016789312    -2.492310300604     353.2898600942
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.44927733515997    y    -0.00001037499805    z     0.41657860500577    a.u.
   | dipole | =    1.5573119711  debye
$last RIRPA energy change= 0.19100764
$end
