$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,4-6                                                                       \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ                                                            \
   charge=  0.00000000
o  2                                                                           \
   basis =o cc-pVQZ                                                            \
   cbas  =o cc-pVQZ                                                            \
   jbas  =o cc-pVQZ                                                            \
   charge=  0.00000000
c  3                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ                                                            \
   charge=  0.00000000
f  7                                                                           \
   basis =f cc-pVQZ                                                            \
   cbas  =f cc-pVQZ                                                            \
   jbas  =f cc-pVQZ
c  8                                                                           \
   basis =c cc-pVQZ                                                            \
   cbas  =c cc-pVQZ                                                            \
   jbas  =c cc-pVQZ
h  9-11                                                                        \
   basis =h cc-pVQZ                                                            \
   cbas  =h cc-pVQZ                                                            \
   jbas  =h cc-pVQZ
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=11
   nbf(CAO)=525
   nbf(AO)=430
$closed shells
 a       1-9                                    ( 2 )
$freeze
 implicit core=    2 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.30314280599753E-05
$last SCF energy change = -139.65341
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-139.6534143019    -266.3077290557     106.1990342389    -16.25206201873    -.5886173025913     37.29595983624
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.63985867996400    y    -0.00000269450442    z    -0.23834654334294    a.u.
   | dipole | =    1.7355406210  debye
$last RIRPA energy change= -.18890178
$end
