$tmole
$rirpa
    npoints                    100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
h  2-5                                                                         \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
i  6-7                                                                         \
   basis =i cc-pVTZ-PP                                                         \
   cbas  =i cc-pVTZ-PP                                                         \
   jbas  =i universal-ecp-28                                                   \
   charge=  0.00000000
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv     0.10000000E-06
$cbas    file=auxbasis
$rundimensions
   natoms=7
   nbf(CAO)=185
   nbf(AO)=164
$closed shells
 a       1-5                                    ( 2 )
$freeze
 implicit core=    1 virt=    0
$last step     rirpa
$orbital_max_rnorm 0.42848154225518E-05
$last SCF energy change = -40.463284
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-40.46328350525    -79.94553627802     32.83195346146    -6.534529039550    -.3003139716184     13.48514232248
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00318683406215    y     0.00319149225345    z     0.00156781259263    a.u.
   | dipole | =    0.0121366505  debye
$last RIRPA energy change= -.10009885
$end
