$disp4
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
c  2-7                                                                         \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-21                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    6 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=12
   nbf(CAO)=642
   nbf(AO)=522
$last step     ridft
$last SCF energy change = -1.3040455
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00018096228971    y    -0.00195770511034    z    -0.00014438211471    a.u.
   | dipole | =    0.0050106982  debye
$last RIRPA energy change= -.32982839
$orbital_max_rnorm 0.63322041445766E-06
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-232.0469151211    -714.7142082349     313.5011998176    -33.11728997742    -1.371111250340     203.6652847872    -.1079026328835E-01
$end
