$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o cc-pV5Z                                                            \
   cbas  =o cc-pV5Z                                                            \
   jbas  =o cc-pV5Z
c  2                                                                           \
   basis =c cc-pV5Z                                                            \
   cbas  =c cc-pV5Z                                                            \
   jbas  =c cc-pV5Z
h  3-4                                                                         \
   basis =h cc-pV5Z                                                            \
   cbas  =h cc-pV5Z                                                            \
   jbas  =h cc-pV5Z
$basis    file=basis
$rundimensions
   dim(fock,dens)=78792
   natoms=4
   nshell=72
   nbf(CAO)=392
   dim(trafo[SAO<-->AO/CAO])=608
   rhfshells=1
   nbf(AO)=292
$scfmo   file=mos
$closed shells
 a       1-8                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   6
$scfdamp   start=0.700  step=0.050  min=0.050
$ricore     5000
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    2 virt=    0
$cbas    file=auxbasis
$last step     rirpa
$orbital_max_rnorm 0.25527942661564E-04
$last SCF energy change = -114.42811
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-114.4281100532    -217.3598208023     86.28098543344    -14.05204870114    -.5143969866246     31.21717100349
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.34340249182185    y    -0.44355389426993    z    -0.68652824830936    a.u.
   | dipole | =    2.2534245281  debye
$last RIRPA energy change= -.17048364
$end
