$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
n  1                                                                           \
   basis =n cc-pVTZ                                                            \
   cbas  =n cc-pVTZ                                                            \
   jbas  =n cc-pVTZ
h  2,4-7                                                                       \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  3                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-9                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    2 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=7
   nbf(CAO)=145
   nbf(AO)=130
$last step     rirpa
$orbital_max_rnorm 0.20746699154881E-04
$last SCF energy change = -95.762433
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-95.76243271000    -211.6789898756     87.96015120358    -13.50767859725    -.5739797690221     42.03806432833
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.02847013502179    y     0.03906544523549    z     0.48188955559482    a.u.
   | dipole | =    1.2309973546  debye
$last RIRPA energy change= -.14896724
$end
