$title
$symmetry c1
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
n  1                                                                           \
   basis =n def2-TZVP                                                          \
   cbas  =n def2-TZVP                                                          \
   jbas  =n def2-TZVP
c  2-4                                                                         \
   basis =c def2-TZVP                                                          \
   cbas  =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
h  5-13                                                                        \
   basis =h def2-TZVP                                                          \
   cbas  =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-17                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    4 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=13
   nbf(CAO)=198
   nbf(AO)=178
$last step     rirpa
$orbital_max_rnorm 0.38179645131060E-05
$last SCF energy change = -174.29048
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-174.2904759305    -509.2558488055     222.1629060904    -25.24548335911    -1.095319134381     139.1432692781
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.16112721887288    y     0.00014021101295    z     0.09214112439952    a.u.
   | dipole | =    0.4717833931  debye
$last RIRPA energy change= -.21919412
$end
