$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,4-6                                                                       \
   basis =h cc-pV6Z                                                            \
   cbas  =h cc-pV6Z                                                            \
   jbas  =h universal                                                          \
   charge=  0.00000000
o  2                                                                           \
   basis =o cc-pV6Z                                                            \
   cbas  =o cc-pV6Z                                                            \
   jbas  =o universal                                                          \
   charge=  0.00000000
c  3                                                                           \
   basis =c cc-pV6Z                                                            \
   cbas  =c cc-pV6Z                                                            \
   jbas  =c universal                                                          \
   charge=  0.00000000
cl 7                                                                           \
   basis =cl cc-pV(6+d)Z                                                       \
   cbas  =cl cc-pV(6+d)Z                                                       \
   jbas  =cl universal
c  8                                                                           \
   basis =c cc-pV6Z                                                            \
   cbas  =c cc-pV6Z                                                            \
   jbas  =c universal
h  9-11                                                                        \
   basis =h cc-pV6Z                                                            \
   cbas  =h cc-pV6Z                                                            \
   jbas  =h universal
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=11
   nbf(CAO)=1732
   nbf(AO)=1206
$freeze
 implicit core=    6 virt=    0
$last SCF energy change = -.77573520
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.74174368110089    y     0.00000460648200    z    -0.00388080353517    a.u.
   | dipole | =    1.8853644363  debye
$last RIRPA energy change= 0.76228471
$closed shells
 a       1-13                                   ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.70044449263828E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-499.9098094279    -790.4691316234     273.7299403343    -33.59145721595    -.9431950397762     51.36403411690
$end
