$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pV6Z                                                            \
   cbas  =c cc-pV6Z                                                            \
   jbas  =c universal
h  2-5                                                                         \
   basis =h cc-pV6Z                                                            \
   cbas  =h cc-pV6Z                                                            \
   jbas  =h universal
cl 6-7                                                                         \
   basis =cl cc-pV6Z                                                           \
   cbas  =cl cc-pV6Z                                                           \
   jbas  =cl universal                                                         \
   charge=  0.00000000
$basis    file=basis
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=7
   nbf(CAO)=1142
   nbf(AO)=792
$freeze
 implicit core=    1 virt=    0
$last SCF energy change = -.26046815
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00093509482913    y     0.00100927539328    z     0.00040514787996    a.u.
   | dipole | =    0.0036456257  debye
$last RIRPA energy change= 0.25648382
$closed shells
 a       1-5                                    ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.46539329892671E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-40.46805684092    -79.95708772719     32.83811208908    -6.537249401055    -.2999876598906     13.48815585814
$end
