$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12,15-17                                                                \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
c  2-7,14                                                                      \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
br 13                                                                          \
   basis =br cc-pVTZ-PP                                                        \
   ecp   =br defpp-ecp                                                         \
   cbas  =br cc-pVTZ-PP                                                        \
   jbas  =br universal
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$scfiterlimit       300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor  10000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore    10000
$jbas    file=auxbasis
$rirpa
    npoints                    100
    nohxx
$denconv     0.10000000E-06
$freeze
 implicit core=   16 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=425
   nbf(AO)=375
$last SCF energy change = -688.72992
$charge from dscf
         -0.000 (not to be modified here)
$dipole from dscf
  x     0.04650226785605    y    -0.56986469762771    z     0.05603444174727    a.u.
   | dipole | =    1.4602396119  debye
$closed shells
 a       1-38                                   ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.48332248189260E-05
$last RIRPA energy change=  686.61556
$end
