$tmole
$rirpa
  npoints 100
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$frag    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1,8-12                                                                      \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP                                                          \
   charge=  0.00000000
c  2-7                                                                         \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP                                                          \
   charge=  0.00000000
i  13                                                                          \
   basis =i def2-QZVP                                                          \
   ecp   =i def2-ecp                                                           \
   cbas  =i def2-QZVP                                                          \
   jbas  =i universal-ecp-28
c  14                                                                          \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
f  15-17                                                                       \
   basis =f def2-QZVP                                                          \
   cbas  =f def2-QZVP                                                          \
   jbas  =f def2-QZVP
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   5000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$denconv 1.0d-7
$cbas    file=auxbasis
$rundimensions
   natoms=17
   nbf(CAO)=1034
   nbf(AO)=832
$freeze
 implicit core=    8 virt=    0
$last SCF energy change = -2.4630247
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.01678718019374    y     0.33909615770784    z    -0.02105615770319    a.u.
   | dipole | =    0.8646165399  debye
$last RIRPA energy change=  2.5122619
$closed shells
 a       1-29                                   ( 2 )
$last step     rirpa
$orbital_max_rnorm 0.59832751746867E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-635.4049757132    -1555.064110786     687.4819458523    -51.00193485313    -2.308860094629     285.4879841681
$end
