$rirpa
  npoints 100
$title
$symmetry c1
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pV6Z                                                            \
   cbas  =c cc-pV6Z                                                            \
   jbas  =c universal
h  2-5                                                                         \
   basis =h cc-pV6Z                                                            \
   cbas  =h cc-pV6Z                                                            \
   jbas  =h universal
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-5                                    ( 2 )
$scfiterlimit 300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor 5000
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv 7
$ricore     5000
$rij
$jbas    file=auxbasis
$disp4
$denconv 1.0d-7
$freeze
 implicit core=    1 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=5
   nbf(CAO)=714
   nbf(AO)=504
$last step     rirpa
$orbital_max_rnorm 0.31848468452441E-05
$last SCF energy change = -40.468925
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-40.46892524305    -79.96028242479     32.83981131942    -6.537442947732    -.2999949980470     13.48985740031    -.8735922128495E-03
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00063146763177    y     0.00040051920230    z    -0.00029281961294    a.u.
   | dipole | =    0.0020411982  debye
$last RIRPA energy change= -.13255274
$end
