$disp4
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c def2-QZVP                                                          \
   cbas  =c def2-QZVP                                                          \
   jbas  =c def2-QZVP
i  2                                                                           \
   basis =i def2-QZVP                                                          \
   ecp   =i def2-ecp                                                           \
   cbas  =i def2-QZVP                                                          \
   jbas  =i def2-QZVP
f  3-5                                                                         \
   basis =f def2-QZVP                                                          \
   cbas  =f def2-QZVP                                                          \
   jbas  =f def2-QZVP
$basis    file=basis
$ecp    file=basis
$scfmo   file=mos
$closed shells
 a       1-29                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    8 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=5
   nbf(CAO)=392
   nbf(AO)=310
$last step     ridft
$last SCF energy change = -2.2560299
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.27061657000100    y     0.06392810670833    z     0.08853608962205    a.u.
   | dipole | =    0.7417374404  debye
$last RIRPA energy change= -.52469470E-01
$orbital_max_rnorm 0.23507348197849E-06
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-635.1832154687    -1553.797005896     692.3644556993    -56.38152665918    -2.295869946664     284.9308289748    -.4097640709430E-02
$end
