$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c cc-pVTZ                                                            \
   cbas  =c cc-pVTZ                                                            \
   jbas  =c cc-pVTZ
cl 2-4                                                                         \
   basis =cl cc-pVTZ                                                           \
   cbas  =cl cc-pVTZ                                                           \
   jbas  =cl cc-pVTZ
h  5                                                                           \
   basis =h cc-pVTZ                                                            \
   cbas  =h cc-pVTZ                                                            \
   jbas  =h cc-pVTZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-29                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=   16 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=5
   nbf(CAO)=167
   nbf(AO)=146
$last step     rirpa
$last SCF energy change = -1419.4174
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.00009506343164    y     0.00018116588478    z     0.43912367071530    a.u.
   | dipole | =    1.1161495966  debye
$last RIRPA energy change=  1.3142156
$orbital_max_rnorm 0.29033893944174E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1419.417397138    -2483.755294666     882.0453656929    -79.50076494696    -2.250912003779     264.0442087853
$end
