$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o def2-QZVP                                                          \
   cbas  =o def2-QZVP                                                          \
   jbas  =o def2-QZVP
h  2-3                                                                         \
   basis =h def2-QZVP                                                          \
   cbas  =h def2-QZVP                                                          \
   jbas  =h def2-QZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-5                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   5
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rirpa
    npoints                    100
$denconv     0.10000000E-06
$freeze
 implicit core=    1 virt=    0
$cbas    file=auxbasis
$rundimensions
   natoms=3
   nbf(CAO)=142
   nbf(AO)=117
$last step     rirpa
$orbital_max_rnorm 0.68508111935424E-06
$last SCF energy change = -76.386912
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-76.38691236278    -122.9637407204     46.65935160767    -8.916068527541    -.3246574020030     9.158202679457
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.46224323087338    y    -0.57160070811446    z     0.00090980724033    a.u.
   | dipole | =    1.8684951580  debye
$last RIRPA energy change= -.11085515
$end
